@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon_arrows/icomoon.eot");
  src: url("../fonts/icomoon_arrows/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon_arrows/icomoon.woff") format("woff"), url("../fonts/icomoon_arrows/icomoon.ttf") format("truetype"), url("../fonts/icomoon_arrows/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Iconfont by Icomoon http://icomoon.io/ */
@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/NanumBarunGothic.eot");
  src: url("../fonts/NanumBarunGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumBarunGothic.woff") format("woff"); }
@font-face {
  font-family: 'NanumBarunGothicBold';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/NanumBarunGothicBold.eot");
  src: url("../fonts/NanumBarunGothicBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumBarunGothicBold.woff") format("woff"); }
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

html {
  font-family: '나눔바른고딕', 'NanumBarunGothic', sans-serif; }

body, body.done {
  background: #fff;
  color: #48a4d5;
  font-family: '나눔바른고딕', 'NanumBarunGothic', sans-serif;
  font-weight: 400;
  border-right: 1em solid #48a4d5;
  border-left: 1em solid #48a4d5;
  text-decoration: none;
  word-break: keep-all;
  margin: 0; }
  body::before, body.done::before, body::after, body.done::after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 1em;
    background: #48a4d5;
    z-index: 1001; }
  body::after, body.done::after {
    top: auto;
    bottom: 0; }

body.done {
  background: #48a4d5;
  color: #fff;
  border-color: #fff; }
  body.done::before, body.done::after {
    background: #fff; }

bold {
  font-family: 'NanumBarunGothicBold', sans-serif; }

.container, .container-done {
  background-image: url(../snu_logo2.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
  background-size: 35em 35em; }

.container-done {
  background-image: url(../snu_logo.svg);
  background-position: center; }

header, header.done {
  margin: 0 auto;
  padding: 4em 15%;
  text-align: left;
  background: transparent; }
  header h1, header.done h1 {
    font-size: 2.85em;
    line-height: 1.2;
    margin: 0 0 2em 0;
    font-weight: 400;
    border-left: 4px solid #48a4d5;
    padding: 0 0 0 0.5em; }
  header h2, header.done h2 {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin: 1em 0; }
  header h4, header.done h4 {
    font-size: 1.2em;
    line-height: 1.65;
    margin: 0.6em 0 0 1.5em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4); }
  header h5, header.done h5 {
    font-size: 1.05em;
    color: rgba(0, 0, 0, 0.3);
    margin: 2em 0 0 0;
    text-align: center;
    line-height: 1.5; }
  header p, header.done p {
    font-size: 1.2em;
    font-weight: 400; }

header.done {
  padding: 15em 0;
  text-align: center; }
  header.done h1 {
    font-size: 2.5em;
    line-height: 1.4;
    margin: 0.8em 0 3em 0;
    padding: 0; }
  header.done h5 {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.25);
    letter-spacing: 6px; }

.header {
  margin: 0 auto;
  padding: 4em 2em;
  text-align: center;
  background: rgba(0, 0, 0, 0.05); }
  .header h3 {
    font-size: 1.3em;
    line-height: 1.5;
    margin: 0;
    padding: 0 2em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4); }
  .header p {
    font-size: 1.4em;
    font-weight: 400;
    padding: 0 2em; }

.vp-accordion {
  list-style: none;
  margin: 2em 0 0 1.5em;
  padding: 0; }
  .vp-accordion h3 {
    margin: 0 0 1em 0;
    padding: 1em 0 0.4em 0;
    border-bottom: 1px solid #48a4d5;
    font-size: 2.2em;
    font-weight: 400; }
  .vp-accordion .ac-trigger {
    cursor: pointer; }
    .vp-accordion .ac-trigger:before {
      font-family: 'icomoon';
      content: "\36";
      speak: none;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      color: #48a4d5;
      margin-right: 0.5em;
      -webkit-font-smoothing: antialiased; }
    .vp-accordion .ac-trigger:hover:before {
      content: "\35";
      color: #48a4d5; }
  .vp-accordion .ac-open > .ac-trigger:before {
    content: "\34"; }
  .vp-accordion .ac-content {
    height: 0;
    overflow: hidden;
    margin: 0 0 0 1.5em; }
    .vp-accordion .ac-content h4 {
      font-size: 1.2em;
      line-height: 1.65;
      margin: 2em 0 3em 0;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.4); }
    .vp-accordion .ac-content p {
      font-size: 1.1em;
      line-height: 1.8;
      margin: 0.5em 0 0.5em 2em;
      color: rgba(0, 0, 0, 0.45); }
      .vp-accordion .ac-content p span {
        font-family: 'NanumBarunGothicBold', sans-serif;
        color: #48a4d5;
        margin: 0 0.5em 0 0; }
      .vp-accordion .ac-content p small {
        font-size: 0.95em;
        color: rgba(0, 0, 0, 0.4); }

.vp-accordion .ac-open > .ac-content {
  height: auto; }

.vp-accordion.sub {
  margin: 0 0 2em 0; }
  .vp-accordion.sub li {
    margin: 0;
    padding: 0; }
  .vp-accordion.sub h3 {
    font-size: 1.6em;
    color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.25);
    margin: 0 0 1em 0;
    padding: 0.4em 0; }
  .vp-accordion.sub h5 {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.3);
    font-family: 'NanumBarunGothicBold', sans-serif;
    margin: 0 1em 0 0; }
  .vp-accordion.sub .ac-content {
    margin: 0 0 0 2.5em;
    padding: 0; }
    .vp-accordion.sub .ac-content p {
      font-size: 1em;
      margin: 0; }

table {
  border-collapse: collapse;
  margin: 0 0 1.5em 0;
  width: 100%;
  background: transparent;
  color: rgba(0, 0, 0, 0.45);
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-color: #48a4d5;
  font-size: 0.95em; }
  table td, table th {
    padding: 0.4em 1em;
    text-align: left;
    vertical-align: top;
    font-weight: 400; }
  table tr {
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.1); }
  table .white, table .white > td {
    color: #48a4d5; }
  table .bb-white {
    border-bottom: 1px solid #48a4d5; }

table.bl th, table.bl td {
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1); }

.section {
  padding: 7em 0; }
  .section:nth-child(even) {
    background: rgba(0, 0, 0, 0.04); }
  .section:last-child {
    padding: 3em 0 4em 0; }

.vp-custom {
  padding: 0 3em;
  max-width: 900px;
  margin: 0 auto; }
  .vp-custom h1 {
    font-size: 1.7em;
    font-family: 'NanumBarunGothicBold', sans-serif;
    margin: 0 0 1.1em 0;
    color: rgba(0, 0, 0, 0.15); }
    .vp-custom h1 span {
      color: #48a4d5; }
  .vp-custom h2 {
    font-size: 2.4em;
    font-weight: 400;
    line-height: 1.45;
    padding: 0 0 0.5em;
    margin: 0 0 30px; }
    .vp-custom h2 span {
      font-size: 70%;
      line-height: 1.1;
      color: rgba(0, 0, 0, 0.4); }
  .vp-custom ul, .vp-custom ol {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px; }
  .vp-custom li {
    margin: 0 auto;
    padding: 2em 0;
    position: relative; }
  .vp-custom label {
    display: inline-block;
    position: relative;
    font-size: 2em;
    line-height: 1.4;
    padding: 0 0 0 80px;
    vertical-align: top;
    color: rgba(0, 0, 0, 0.28);
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .vp-custom label::before {
      content: '';
      border: 4px solid #48a4d5;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
  .vp-custom input[type="checkbox"],
  .vp-custom input[type="radio"],
  .vp-custom label::before {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 0;
    margin-top: -25px;
    position: absolute;
    cursor: pointer; }
  .vp-custom input[type="checkbox"],
  .vp-custom input[type="radio"] {
    opacity: 0;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 100; }
  .vp-custom input[type="text"] {
    font-size: 1.6em;
    color: #48a4d5;
    width: 12em;
    background: transparent;
    margin: 0 0 0 1em;
    padding: 0.3em 0.1em 0.3em 0.6em;
    border: 3px solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px; }
    .vp-custom input[type="text"]:focus {
      outline: none;
      border-color: #48a4d5; }
  .vp-custom svg {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    left: 5px;
    pointer-events: none; }
    .vp-custom svg path {
      stroke: #48a4d5;
      stroke-width: 13px;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none; }

.show {
  display: inline-block; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(0, 0, 0, 0.2); }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(0, 0, 0, 0.2); }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(0, 0, 0, 0.2); }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(0, 0, 0, 0.2); }

.vp-radio label::before {
  border-radius: 50%; }

.vp-custom input[type="checkbox"]:checked + label,
.vp-custom input[type="radio"]:checked + label {
  color: #48a4d5; }
  .vp-custom input[type="checkbox"]:checked + label::before,
  .vp-custom input[type="radio"]:checked + label::before {
    opacity: 0.8; }

.li-group {
  display: table-cell;
  padding-right: 5em;
  width: 50%; }

.li-group-3 {
  display: table-cell;
  padding-right: 7em;
  width: 33%; }

button.continue, button.done {
  display: block;
  padding: 0.82em 1.6em 0.7em 1.6em;
  border: 3px solid #48a4d5;
  border-radius: 40px;
  font-family: 'NanumBarunGothicBold', sans-serif;
  color: #48a4d5;
  margin: 0 auto;
  font-size: 1.7em;
  text-align: center;
  background: transparent;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s; }
  button.continue:hover, button.done:hover {
    background: #48a4d5;
    color: #fff; }

button.done {
  border-color: #fff;
  color: #fff; }
  button.done:hover {
    background: #fff;
    color: #48a4d5; }

@media screen and (max-width: 50em) {
  body, body.done {
    border: none; }
    body::before, body.done::before, body::after, body.done::after {
      position: relative; }

  .container, .container-done {
    background-position: right top;
    background-size: 15em 15em; }

  .container-done {
    background-position: center; }

  header, header.done {
    font-size: 90%;
    padding: 4em 1em; }
    header h1, header.done h1 {
      font-size: 2.3em; }
    header h2, header.done h2 {
      font-size: 1em;
      font-family: 'NanumBarunGothicBold', sans-serif; }
    header h4, header.done h4 {
      margin: 0.8em 0 0 0;
      line-height: 1.5; }
    header h5, header.done h5 {
      font-size: 0.9em; }

  header.done h5 {
    letter-spacing: 0px; }

  .vp-accordion {
    margin: 1em 0 0 0; }
    .vp-accordion h3 {
      font-size: 1.7em;
      font-family: 'NanumBarunGothicBold', sans-serif; }
    .vp-accordion .ac-content {
      margin: 0; }
      .vp-accordion .ac-content h4 {
        line-height: 1.5; }
      .vp-accordion .ac-content p {
        margin: 0.8em 0;
        line-height: 1.5; }

  .vp-accordion.sub {
    margin: 0 0 2em 0; }
    .vp-accordion.sub .ac-content {
      margin: 0; }

  .vp-custom {
    padding: 0 1.6em; }
    .vp-custom li.li-etc {
      line-height: 3; }
      .vp-custom li.li-etc input[type="text"] {
        margin: 0 0 0 4em;
        width: 10em; }

  .table {
    margin: 0; }

  .li-group, .li-group-3 {
    display: block;
    width: 100%;
    padding: 0; }

  .section {
    font-size: 75%; }

  .subMenu {
    height: 2.2em; }

  .vp-custom li {
    padding: 1.7em 0; } }
