@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #427db9;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  border-right: 1em solid #fff;
  border-left: 1em solid #fff;
  text-decoration: none;
  word-break: keep-all;
  margin: 0; }
  body::before, body::after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 1em;
    background: #fff;
    z-index: 1001; }
  body::after {
    top: auto;
    bottom: 0; }

a {
  color: #fff;
  opacity: 0.7;
  text-decoration: none; }
  a:hover, a:focus {
    opacity: 1; }

bold {
  font-weight: 700; }

.subMenu {
  height: 2em;
  width: 100%;
  z-index: 1000;
  background: transparent;
  text-align: center;
  padding: 1em; }
  .subMenu .nav {
    margin: 0 auto; }

.container header {
  margin: 0 auto;
  padding: 4em 15%;
  text-align: left;
  background: rgba(0, 0, 0, 0.05); }
  .container header h1 {
    font-size: 2.85em;
    line-height: 1.2;
    margin: 0 0 2em 0;
    font-weight: 400;
    border-left: 4px solid	#fff;
    padding: 0 0 0 0.5em; }
  .container header h2 {
    font-size: 2.2em;
    font-weight: 400;
    text-align: center;
    margin: 1em 0; }
  .container header h4 {
    font-size: 1.2em;
    line-height: 1.65;
    margin: 0.6em 0 0 1.5em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4); }
  .container header p {
    font-size: 1.2em;
    font-weight: 400; }

.vp-accordion {
  list-style: none;
  margin: 2em 0 0 1.5em;
  padding: 0; }
  .vp-accordion h3 {
    margin: 0 0 1em 0;
    padding: 1em 0 0.4em 0;
    border-bottom: 1px solid #fff;
    font-size: 2.2em;
    font-weight: 400; }
  .vp-accordion .ac-trigger {
    cursor: pointer; }
  .vp-accordion .ac-content h4 {
    font-size: 1.2em;
    line-height: 1.65;
    margin: 2em 0 3em 1.5em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4); }
  .vp-accordion .ac-content h5 {
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.4);
    margin: 2em 0 0 1.5em; }
  .vp-accordion .ac-content p {
    font-size: 1.1em;
    line-height: 1.8;
    margin: 0.5em 0 0.5em 2.8em;
    color: rgba(0, 0, 0, 0.45); }
    .vp-accordion .ac-content p span {
      font-weight: 700;
      color: #fff;
      letter-spacing: 1px;
      margin: 0 0.5em 0 0; }

.header {
  margin: 0 auto;
  padding: 4em 2em;
  text-align: center;
  background: rgba(0, 0, 0, 0.05); }
  .header h3 {
    font-size: 1.3em;
    line-height: 2;
    margin: 0;
    padding: 0 2em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3); }
  .header p {
    font-size: 1.4em;
    font-weight: 400;
    padding: 0 2em; }

.section {
  padding: 7em 0; }
  .section:nth-child(even) {
    background: rgba(0, 0, 0, 0.08); }

.vp-custom {
  padding: 0 3em;
  max-width: 900px;
  margin: 0 auto; }
  .vp-custom h1 {
    font-size: 1.7em;
    font-weight: 700;
    margin: 0 0 1.1em 0;
    color: rgba(0, 0, 0, 0.2); }
    .vp-custom h1 span {
      color: rgba(0, 0, 0, 0.35); }
  .vp-custom h2 {
    font-size: 2.4em;
    font-weight: 400;
    padding: 0 0 0.5em;
    margin: 0 0 30px; }
    .vp-custom h2 span {
      font-size: 70%;
      color: rgba(0, 0, 0, 0.4); }
  .vp-custom ul, .vp-custom ol {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px; }
  .vp-custom li {
    margin: 0 auto;
    padding: 2em 0;
    position: relative; }
  .vp-custom label {
    display: inline-block;
    position: relative;
    font-size: 2em;
    padding: 0 0 0 80px;
    vertical-align: top;
    color: rgba(0, 0, 0, 0.28);
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .vp-custom label::before {
      content: '';
      border: 4px solid #fff;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
  .vp-custom input[type="checkbox"],
  .vp-custom input[type="radio"],
  .vp-custom label::before {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 0;
    margin-top: -25px;
    position: absolute;
    cursor: pointer; }
  .vp-custom input[type="checkbox"],
  .vp-custom input[type="radio"] {
    opacity: 0;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 100; }
  .vp-custom svg {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    left: 5px;
    pointer-events: none; }
    .vp-custom svg path {
      stroke: #fff;
      stroke-width: 13px;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none; }

.vp-radio label::before {
  border-radius: 50%; }

.vp-custom input[type="checkbox"]:checked + label,
.vp-custom input[type="radio"]:checked + label {
  color: #fff; }
  .vp-custom input[type="checkbox"]:checked + label::before,
  .vp-custom input[type="radio"]:checked + label::before {
    opacity: 0.8; }

.li-group {
  display: table-cell;
  padding-right: 5em;
  width: 50%; }

.li-group-3 {
  display: table-cell;
  padding-right: 7em;
  width: 33%; }

@media screen and (max-width: 50em) {
  body {
    border: none; }
    body::before, body::after {
      position: relative; }

  .li-group, .li-group-3 {
    display: block;
    width: 100%;
    padding: 0; }

  .section {
    font-size: 75%; }

  .subMenu {
    height: 2.2em; }

  .vp-custom li {
    padding: 1.7em 0; } }
