// @import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon_arrows/icomoon.eot');
	src:url('../fonts/icomoon_arrows/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon_arrows/icomoon.woff') format('woff'),
		url('../fonts/icomoon_arrows/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon_arrows/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Iconfont by Icomoon http://icomoon.io/ */

@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: normal;
 font-style: normal;
 src: url('../fonts/NanumBarunGothic.eot');
 src: url('../fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
 url('../fonts/NanumBarunGothic.woff') format('woff');
}

@font-face {
 font-family: 'NanumBarunGothicBold';
 font-weight: normal;
 font-style: normal;
 src: url('../fonts/NanumBarunGothicBold.eot');
 src: url('../fonts/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
 url('../fonts/NanumBarunGothicBold.woff') format('woff');
}



$main-color: #48a4d5;
$sub-color: #f6f6f6;

$text-color: #aaa;

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	font-family: '나눔바른고딕', 'NanumBarunGothic', sans-serif;
}

body {
	// background: #427db9;
	// color: #fff;
	background: #fff;
	color: $main-color;

	font-family: '나눔바른고딕', 'NanumBarunGothic', sans-serif;
	font-weight: 400;
	// border-right: 1em solid #fff;
	// border-left: 1em solid #fff;
	border-right: 1em solid $main-color;
	border-left: 1em solid $main-color;

	text-decoration: none;

	// -webkit-font-smoothing: antialiased;
	word-break: keep-all;

	margin: 0;

	&::before, &::after {
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 1em;
		// background: #fff;
		background: $main-color;
		z-index: 1001;
	}

	&::after {
		top: auto;
		bottom: 0;
	}
}


bold {
	font-family: 'NanumBarunGothicBold', sans-serif;
	// font-weight: 700;
}

.container {
	background-image: url(../snu_logo2.svg);
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: scroll;
	background-size: 35em 35em;
}

.container header {
	margin: 0 auto;
	padding: 4em 15%;
	text-align: left;
	// word-break: keep-all;
	// background: rgba(0,0,0,.05);
	background: transparent;

	h1 {
		font-size: 2.85em;
		line-height: 1.2;
		margin: 0 0 2em 0;
		font-weight: 400;
		// border-left: 4px solid #fff;
		border-left: 4px solid $main-color;

		padding: 0 0 0 0.5em;
	}

	h2 {
		font-size: 2em;
		font-weight: 400;
		text-align: center;
		margin: 1em 0;
	}

	h4 {
		font-size: 1.2em;
		line-height: 1.65;
		margin: 0.6em 0 0 1.5em;
		font-weight: 400;
		color: rgba(0,0,0,.4);
	}

	h5 {
		font-size: 1.1em;
		color: rgba(0,0,0,.3);
		margin: 2em 0 0 0;
		text-align: center;
		line-height: 1.5;
	}

	p {
		font-size: 1.2em;
		font-weight: 400;
	}
}

.header {
	margin: 0 auto;
	padding: 4em 2em;
	text-align: center;
	background: rgba(0,0,0,.05);

	h3 {
		font-size: 1.3em;
		line-height: 1.5;
		margin: 0;
		padding: 0 2em;
		font-weight: 400;
		color: rgba(0,0,0,.4);
	}

	p {
		font-size: 1.4em;
		font-weight: 400;
		padding: 0 2em;
	}
}


.vp-accordion {
	list-style: none;
	margin: 2em 0 0 1.5em;
	padding: 0;

	h3 {
		margin: 0 0 1em 0;
		padding: 1em 0 0.4em 0;
		// border-bottom: 1px solid #fff;
		border-bottom: 1px solid $main-color;

		font-size: 2.2em;
		font-weight: 400;
	}

	.ac-trigger {
		cursor: pointer;

		&:before {
			font-family: 'icomoon';
			// font-size: 95%;
			content: "\36";
			speak: none;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			// color: rgba(0,0,0,.3);
			color: $main-color;

			margin-right: 0.5em;
			-webkit-font-smoothing: antialiased;
		}

		&:hover:before {
			content: "\35";
			// color: inherit;
			color: $main-color;
		}
	}

	.ac-open > .ac-trigger:before {
		content: "\34";
	}

	.ac-content {
		height: 0;
		overflow: hidden;

		margin: 0 0 0 1.5em;

		h4 {
			font-size: 1.2em;
			line-height: 1.65;
			margin: 2em 0 3em 0;
			font-weight: 400;
			color: rgba(0,0,0,.4);
		}

		p {
			font-size: 1.1em;
			line-height: 1.8;
			margin: 0.5em 0 0.5em 2em;
			color: rgba(0,0,0,.45);

			span {
				// font-weight: 700;
				font-family: 'NanumBarunGothicBold', sans-serif;
				// color: #fff;
				color: $main-color;
				// letter-spacing: 1px;
				margin: 0 0.5em 0 0;
			}

			small {
				font-size: 0.95em;
				color: rgba(0,0,0,.4);
			}
		}
	}
}

.vp-accordion .ac-open > .ac-content {
	height: auto;
}

.vp-accordion.sub {
	margin: 0 0 2em 0;

	li {
		margin: 0;
		padding: 0;
	}

	h3 { // 참고자료 제목
		font-size: 1.6em;
		color: rgba(0,0,0,.4);
		border-color: rgba(0,0,0,.25);
		margin: 0 0 1em 0;
		padding: 0.4em 0;
	}

	h5 {
		font-size: 1em;
		color: rgba(0,0,0,.3);
		// font-weight: 700;
		font-family: 'NanumBarunGothicBold', sans-serif;
		margin: 0 1em 0 0;
	}

	.ac-content {
		margin: 0 0 0 2.5em;
		padding: 0;

		p {
			font-size: 1em;
			margin: 0;
		}
	}
}

table {
	border-collapse: collapse;
	margin: 0 0 1.5em 0;
	width: 100%;
	background: transparent;
	color: rgba(0,0,0,.45);
	border-top: 3px solid;
	border-bottom: 3px solid;
	// border-color: rgba(0,0,0,.3);
	border-color: $main-color;
	font-size: 0.95em;

	td, th {
		padding: 0.4em 1em;
		text-align: left;
		vertical-align: top;
		font-weight: 400;
	}

	tr {
		border-bottom: 1px solid;
		border-color: rgba(0,0,0,.1);
	}

	// tr:nth-child(2n-1) {
	// 	background-color: rgba(0,0,0,.1);
	// }

	.white, .white > td {
		// color: #fff;
		color: $main-color;
	}

	.bb-white {
		// background-color: rgba(255,255,255,.2);
		// border-bottom: 1px solid #fff;
		border-bottom: 1px solid $main-color;
	}
}

table.bl {
	th, td {
		border: 1px solid;
		border-color: rgba(0,0,0,.1);
	}
}


.section {
	padding: 7em 0;
	// display: flex;

	&:nth-child(even) {
		background: rgba(0,0,0,.04);
	}
}

.vp-custom {
	padding: 0 3em;
	max-width: 900px;
	margin: 0 auto;

	h1 {
		font-size: 1.7em;
		// font-weight: 700;
		font-family: 'NanumBarunGothicBold', sans-serif;	

		margin: 0 0 1.1em 0;
		color: rgba(0,0,0,.15);
		// color: rgba(72,164,213,.4);

		span {
			// color: rgba(0,0,0,.35);
			color: rgba(72,164,213,1);
		}
	}

	h2 {	// main-question
		font-size: 2.4em;
		font-weight: 400;
		line-height: 1.45;

		padding: 0 0 0.5em;
		margin: 0 0 30px;

		span {
			font-size: 70%;
			line-height: 1.1;
			color: rgba(0,0,0,.4);
		}
	}

	ul, ol {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		max-width: 800px;
	}

	li {
		margin: 0 auto;
		padding: 2em 0;
		position: relative;
	}

	label {
		display: inline-block;
		position: relative;
		font-size: 2em;
		line-height: 1.4;
		padding: 0 0 0 80px;
		vertical-align: top;
		color: rgba(0,0,0,.28);
		cursor: pointer;
		-webkit-transition: color 0.3s;
		transition: color 0.3s;

		&::before {
			content: '';
			// border: 4px solid #fff;
			border: 4px solid $main-color;

			-webkit-transition: opacity 0.3s;
			transition: opacity 0.3s;
		}
	}

	input[type="checkbox"],
	input[type="radio"],
	label::before {
		width: 50px;
		height: 50px;
		top: 50%;
		left: 0;
		margin-top: -25px;
		position: absolute;
		cursor: pointer;
	}

	input[type="checkbox"],
	input[type="radio"] {
		opacity: 0;
		-webkit-appearance: none;
		display: inline-block;
		vertical-align: middle;
		z-index: 100;
	}

	input[type="text"] {
		display: none;

		font-size: 1.5em;
		color: #fff;
		width: 14em;
		background: transparent;

		margin: 0 0 0 1em;
		padding: 0.3em 0.1em 0.3em 0.6em;

		border: 3px solid;
		border-color: rgba(0,0,0,.3);

		&:focus {
			outline: none;
			border-color: #fff;
		}
	}

	svg {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 50%;
		margin-top: -20px;
		left: 5px;
		pointer-events: none;

		path {
			// stroke: #fff;
			stroke: $main-color;
			stroke-width: 13px;
			stroke-linecap: round;
			stroke-linejoin: round;
			fill: none;
		}
	}
}


.show {
	display: inline-block;
}


::-webkit-input-placeholder { /* WebKit browsers */ color: rgba(0,0,0,.2); }
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: rgba(0,0,0,.2); }
::-moz-placeholder { /* Mozilla Firefox 19+ */ color: rgba(0,0,0,.2); }
:-ms-input-placeholder { /* Internet Explorer 10+ */ color: rgba(0,0,0,.2); }


.vp-radio label::before {
	border-radius: 50%;
}

.vp-custom input[type="checkbox"]:checked + label,
.vp-custom input[type="radio"]:checked + label {
	// color: #fff;
	color: $main-color;

	&::before {
		opacity: 0.8;
	}
}

.li-group {
	display: table-cell;
	padding-right: 5em;
	width: 50%;
	// float: left;
}

.li-group-3 {
	display: table-cell;
	padding-right: 7em;
	width: 33%;
}


@media screen and (max-width: 50em) {

	body {
		border: none;
		&::before, &::after {
			position: relative;
		}
	}

	.container {
		background-position: right top;
		background-size: 15em 15em;
	}

	.container header {
		font-size: 90%;
		padding: 4em 1em;

		h1 {
			font-size: 2.3em;
		}

		h2 {
			font-size: 1em;
			// font-weight: 700;
			font-family: 'NanumBarunGothicBold', sans-serif;
		}

		h4 {
			margin: 0.8em 0 0 0;
			line-height: 1.5;
		}

		h5 {
			font-size: 0.95em;
		}
	}

	.vp-accordion {
		margin: 1em 0 0 0;

		h3 {
			font-size: 1.7em;
			font-family: 'NanumBarunGothicBold', sans-serif;
		}

		.ac-content {
			margin: 0;

			h4 {
				line-height: 1.5;
			}

			p {
				margin: 0.8em 0;
				line-height: 1.5;
			}
		}
	}

	.vp-accordion.sub {
		margin: 0 0 2em 0;

		.ac-content {
			margin: 0;
		}
	}

	.vp-custom {
		padding: 0 1.6em;
	}

	.table {
		margin: 0;
	}

	.li-group, .li-group-3 {
		display: block;
		width: 100%;
		padding: 0;
	}

	.section {
		font-size: 75%;
	}

	.subMenu {
		height: 2.2em;
	}

	.vp-custom {
		li {
			padding: 1.7em 0;
		}
	}
}




