@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	background: #427db9;
	color: #fff;
	font-family: 'Noto Sans', sans-serif;
	text-decoration: none;
	margin: 0;
}

a {
	color: #fff;
	opacity: 0.7;
	text-decoration: none;

	&:hover, &:focus {
		opacity: 1;
	}
}

.subMenu {
	height: 3em;
	z-index: 1000;
	width: 100%;
	background: rgba(0,0,0,.3);
	font-weight: 700;
	padding: 0;
	margin: 0;
}

.container header {
	margin: 0 auto;
	padding: 4em 2em;
	text-align: center;
	background: rgba(0,0,0,.05);

	h1 {
		font-size: 2.625em;
		line-height: 1.3;
		margin: 0;
		font-weight: 700;
	}

	span {
		display: block;
		font-size: 50%;
		line-height: 1.5;
		color: rgba(0,0,0,.3);
		font-weight: 400;
		padding: 0 0 0.6em 0.1em;
		margin: 1em 0;
	}

	p {
		font-size: 1.2em;
		font-weight: 400;
	}
}

.section {
	padding: 7em 0;

	&:nth-child(even) {
		background: rgba(0,0,0,.08);
	}
}

.vp-custom {
	padding: 0 3em;
	max-width: 900px;
	margin: 0 auto;

	h2 {
		font-size: 2.4em;
		font-weight: 400;
		padding: 0 0 0.5em;
		margin: 0 0 30px;

		span {
			font-size: 70%;
			color: rgba(0,0,0,.4);
		}
	}

	ul, ol {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		max-width: 800px;
	}

	li {
		margin: 0 auto;
		padding: 2em 0;
		position: relative;
	}

	label {
		display: inline-block;
		position: relative;
		font-size: 2em;
		padding: 0 0 0 80px;
		vertical-align: top;
		color: rgba(0,0,0,.28);
		cursor: pointer;
		-webkit-transition: color 0.3s;
		transition: color 0.3s;

		&::before {
			content: '';
			border: 4px solid #fff;
			-webkit-transition: opacity 0.3s;
			transition: opacity 0.3s;
		}
	}

	input[type="checkbox"],
	input[type="radio"],
	label::before {
		width: 50px;
		height: 50px;
		top: 50%;
		left: 0;
		margin-top: -25px;
		position: absolute;
		cursor: pointer;
	}

	input[type="checkbox"],
	input[type="radio"] {
		opacity: 0;
		-webkit-appearance: none;
		display: inline-block;
		vertical-align: middle;
		z-index: 100;
	}

	svg {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 50%;
		margin-top: -20px;
		left: 5px;
		pointer-events: none;

		path {
			stroke: #fff;
			stroke-width: 13px;
			stroke-linecap: round;
			stroke-linejoin: round;
			fill: none;
		}
	}
}

.vp-radio label::before {
	border-radius: 50%;
}

.vp-custom input[type="checkbox"]:checked + label,
.vp-custom input[type="radio"]:checked + label {
	color: #fff;

	&::before {
		opacity: 0.8;
	}
}

@media screen and (max-width: 50em) {
	.section {
		font-size: 75%;
	}

	.vp-custom {
		li {
			padding: 1.7em 0;
		}
	}
}




